body{
  background-color: rgb(169, 199, 255);
  color: rgb(17, 15, 2);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
  margin-left: 40px;
  margin-right: 40px;  
}

header {
  background-color: rgb(241, 202, 28);
  padding-top: 1px;
  padding-bottom: 6px;
}

h1 {
  font-size: 55px;
  margin: 25px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 15px;
  margin: 5px;
  text-align: center;
}

p {
  margin: 10px;
  max-width: 650px;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 20px;
  padding: 5px;
  background-color: blue;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding: 5px;
}

li {
  padding: 2px;
}

div {
  margin: auto;
  display: inline;
  margin: 10px;  
}

section {
  margin-top: 20px;
}

img {
  text-align: center;
  margin-top: 15px;
  height: 300px;
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
}

#welcome-message {
  margin: 15px;
}

#quiz {
  background-color: rgb(30, 30, 158);
  cursor: pointer;
  color: rgb(255, 215, 215);
  font-size: 20px;
  margin-bottom: 100px;
  padding: 5px;
  text-align: center;
}